@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
}

@theme {
  --color-nav-bg: #000000;
  --color-nav-text: #ffffff;
  --color-nav-accent: #3b82f6;
  --color-section-divider: #5c8dff;
  --color-content-bg:#dfe4ed;
  --color-footer-bg:#000000;
  --color-projects-btn: blue;
  --radius-5xl: 140rem;
  --color-page-content:#000000;
  --shadow-nav-glow: 0 0 0 0 transparent;
}

[data-theme="cozy"] {
  --color-nav-bg: #cdbd9d;
  --color-nav-text: #c7744e;
  --color-nav-accent: #A84E37;
  --color-section-divider: #b96d46;
  --color-content-bg: #EDE4D3;
  --color-footer-bg:#cdbd9d;
  --color-page-content:rgb(62, 30, 1);
  --color-projects-btn:rgb(149, 179, 136);
  --shadow-nav-glow: 0 0 0 0 transparent;

}

[data-theme="dark"] {
  --color-nav-bg: #07050F;
  --color-nav-text: #6B6398;
  --color-nav-accent: #7F77DD;
  --color-section-divider: #f292f7;
  --color-content-bg: #07050F;
  --color-footer-bg:#0E0B1E;
  --color-page-content: white;
  --color-projects-btn:rgb(143, 58, 255);
 --shadow-nav-glow: 0 0 24px 4px rgb(127 119 221 / 0.45),
  0 0 12px 2px rgb(242 146 247 / 0.35);

}
