@import "tailwindcss";


html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 6ch;
  }
}


@theme {
  --color-nav-bg: #000000;
  --color-nav-text: #ffffff;
  --color-nav-accent: #3b82f6;
  --color-section-divider: #5c8dff;
  --color-content-bg:#dfe4ed;
  --color-footer-bg:#000000;
  --color-projects-btn: blue;
  --radius-5xl: 140rem;
  --color-page-content:#000000;
  --shadow-nav-glow: 0 0 0 0 transparent;
  --color-page-accent:black;
  --animate-typewriter-name: typing 2s steps(6, end) forwards;
}

[data-theme="cozy"] {
  --color-nav-bg: #cdbd9d;
  --color-nav-text: #c7744e;
  --color-nav-accent: #A84E37;
  --color-section-divider: #b96d46;
  --color-content-bg: #EDE4D3;
  --color-footer-bg:#cdbd9d;
  --color-page-content:rgb(62, 30, 1);
  --color-projects-btn:rgb(149, 179, 136);
  --color-page-accent:#D4A017;
  --shadow-nav-glow: 0 0 0 0 transparent;


}

[data-theme="dark"] {
  --color-nav-bg: #07050F;
  --color-nav-text: #6B6398;
  --color-nav-accent: #7F77DD;
  --color-section-divider: #f292f7;
  --color-content-bg: #07050F;
  --color-footer-bg:#0E0B1E;
  --color-page-content: white;
  --color-projects-btn:rgb(143, 58, 255);
  --color-page-accent: #64FFDA;
 --shadow-nav-glow: 4px 4px 24px 4px rgba(201, 101, 255, 0.764),
  0 0 12px 2px rgb(242 146 247 / 0.35);


}
[data-theme="bubblegum"] {
  --color-nav-bg: #ffb6d9;
  --color-nav-text: #5a2144;
  --color-nav-accent: #ff4fa3;
  --color-section-divider: #ff6bb5;
  --color-content-bg: #ffe3f1;
  --color-footer-bg: #ffb6d9;
  --color-page-content: #4a1838;
  --color-projects-btn: #ff4fa3;
  --color-page-accent:#B8F0D8;
  --shadow-nav-glow: 0 0 0 0 transparent;

}

[data-theme="cyberpunk"] {
  --color-nav-bg: #0a0f1f;
  --color-nav-text: #8ef9f3;
  --color-nav-accent: #ff2e88;
  --color-section-divider: #00f5d4;
  --color-content-bg: #11162a;
  --color-footer-bg: #090d18;
  --color-page-content: #f4f7ff;
  --color-projects-btn: #ff2e88;
  --color-page-accent:yellow;
  --shadow-nav-glow:
    0 0 20px 3px rgb(0 245 212 / 0.35),
    0 0 10px 2px rgb(255 46 136 / 0.25);

}

